@import 'base.css';
@import './layouts/primary.css';
@import './layouts/scrollbars.css';
@import './layouts/sidebar.css';
@import './layouts/featuring.css';

@custom-selector :--impars :nth-of-type(1), :nth-of-type(3), :nth-of-type(5), :nth-of-type(7), :nth-of-type(9);
@custom-media --small screen and (width <= 768px);
@custom-media --extra-small screen and (width <= 450px);

/* Etiquetas Globales */

:root {
	--sidebar-color: #171a2f;
	--warning-color: red;
	--darkgray: darkgray;
	--white: whitesmoke;
	--icon-lenght: 40px;
	--button: { 
		border-radius: 5px;
		border: 1px solid whitesmoke;
    	color: whitesmoke;
    	padding: .25em 1em;
    	text-transform: uppercase;
    	cursor: pointer;
    	font-size: 12px;
    	border-bottom: 5px solid whitesmoke;
     };
    --warning: {
        background: var(--warning-color);
     }
}

body {
    margin: 0;
    font-family: 'lato', system-ui;
}

/* Sidebar Area Styles */
.lol{ 
    
}

.sidebar {
    & .logo img {
        max-width: 100%;
    }

    & .playlist {
        overflow: auto;
        & .playlist-title {
            font-size: 1em;
        }
        & .playlist-title span{
            margin-left: 10px;
            @apply(--button);
            @apply(--warning);
        }
        & .myPlaylist {
            padding: 0 1.5em;
            & .myPlaylistItem {
                & a {
                    color: var(--white);
                    text-decoration: none;
                    font-size: .8em;
                    display: block;
                    margin-bottom: 7px;
                }
                /*&:matches(:--impars){
                    color: gray(80);
                }
                &:not(:--impars){
                    color: gray(40);
                }
                */
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        & .playlistFriends {
            list-style: none;
            padding: 0;
            & .playlistFriends-item {
                display: flex;
                margin-bottom: 7px;
                font-size: .8em;
                & a {
                    display: inline-flex;
                    align-items: center;
                    text-decoration: none;
                    color: var(--white);
                    padding: 0;
                    & img{
                        width: var(--icon-lenght);
                        height: var(--icon-lenght);
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                    & span {
                        display: inline-block;
                    }
                }
                &:hover a {
                    text-decoration: underline;
                }
            }
        }
    }
}

/*Primary Area Styles*/


/*Search Area*/

.primary-search form input {
    color: black;
    padding: 15px;
    margin: 10px;
    margin-right: -4px;
    border: 0;
    background: white;
    height: 15px;
    border-radius: 20px 0px 0px 20px;
}

.primary-search form input:focus {
    outline: 0;
}

.primary-search form button {
    border: 0;
    border-radius: 0 20px 20px 0;
    height: 45px;
    background: white;
    color: var(--darkgray);
    padding: 0 20px 0 0;
    cursor: text;
}

.primary-search form button i{
    cursor: pointer;
}

.primary-search form button:focus {
    outline: 0;
}

/* User Ãrea */
.primary-user {
    justify-self: end;
    display: flex;
    align-items: center;
    @media (--extra-small) {
        padding: 10px;
        justify-self:center;
    }
}

.primary-user .user img{ 
    width: var(--icon-lenght);
    height: var(--icon-lenght);
    object-fit: cover;
    border-radius: 50%;
    margin:0;
}

.primary-user .user {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--sidebar-color);
    margin: 0 10px 0 0;
}	

.user span {
	color: var(--darkgray);
}
.user p {
	margin: 0 5px 0 10px;
}

/* Primary List Area*/
.primary-list {
    grid-area: list;
    overflow: auto;
  }
  .primaryPlaylist-topic {
    margin: 15px 0 0;
    color: var(--darkgray);
    font-size: 14px;
    font-weight: 300;
  }
  .primaryPlaylist-title {
    margin: 0 0 15px;
    color: var(--sidebar-color);
    font-size: 20px;
    font-weight: 400;
  }

  .primaryPlaylist-list {
    display: flex;
    overflow: auto;
  }
  
  .primaryPlaylist-list .primaryPlaylistItem {
    margin-right: 10px;
  }
  
  .primaryPlaylistItem img {
    width: 200px;
    height: 130px;
    cursor: pointer;
  }
  .primaryPlaylistItem-title {
    margin: 5px 0;
    color: var(--sidebar-color);
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
  }
  .primaryPlaylistItem-title:hover {
    text-decoration: underline;
  }
/*Featuring Area*/

.featuring-image {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0 2em 0 3em;
}

.text-above{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.363);
    width: 100px;
    height: 80px;
    border-radius: 10px;
}

.text-above:hover {
	background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
}

.text-above i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.featuring-image img{
    width: 100px;
    height: 80px;
    object-fit: cover;
    background: black;
    position:relative;
    border-radius: 10px;
}

.featuring-title {
    margin: 10px;
}

.featuring-album {
    font-size: 1.3em;
    margin: 10px;  
    cursor: pointer; 
}

.featuring-album:hover {
	text-decoration: underline;
}